* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5;
}

p {
	margin-bottom: 20px;
}

code {
	background-color: transparent;
}

table {
	background-color: #fafafa;
	border: 1px solid #cccccc;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	font-size: 100%;
	margin: 3em 0;
}

table.nowrap {
	background: none repeat scroll 0 0 #fafafa;
}

#content table thead th, #content table thead td, #content table thead tr.wrap td, #content table thead tr.wrap th, #content table thead tr.wrap:hover td, #content table thead tr:hover th, .js .checkable thead .checked td, .js .checkable thead .checked th {
	background-color: #dddddd;
	border-top: medium none;
	color: #5a5a5a;
	font-weight: bold;
	padding: 10px 15px;
	text-align: left;
}

td > input.icon {
	padding: 1px 6px;
}

tr {
	background-color: #f7f7f7;
}

tr.odd {
	background-color: #fafafa;
}

.odd td {
	background-color: #fafafa;
}

td, th {
	background: none;
	border: medium none;
	border-top: 1px solid #bbbbbb;
	min-height: 16px;
	padding: 6px;
	vertical-align: baseline;
}

.js .checkable .checked td, .js .checkable .checked th {
	background-color: #dadada;
}

.active {
	font-weight: normal;
}

tbody tr:hover td, tbody tr:hover th {
	background-color: #ededed;
}

a {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a:link {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a:visited {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a:hover, a:link:hover, a:visited:hover {
	color: black;
	text-decoration: underline;
}

a:active {
	color: black;
	text-decoration: underline;
}

p.links a, a.loadmore {
	background-color: #eeeeee;
	border: 1px solid #bbbbbb;
	border-radius: 2px 2px 0 0;
	color: #333333;
	display: inline-block;
	padding: 6px;
}

p.links a:hover, a.loadmore:hover {
	background-color: #dedede;
	border-color: #c4c4c4;
}

#table tbody tr td a.edit {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M6 14H3V2h7v2.5c0 .3.2.5.5.5H13v1l1-1V3.9c0-.3-.1-.5-.3-.7l-1.9-1.9c-.2-.2-.4-.3-.7-.3H2.5c-.3 0-.5.2-.5.5v13c0 .3.2.5.5.5H6v-1zm5-12 2 2h-2V2zM13 13.5v.5h-.5l-1 1h2c.3 0 .5-.2.5-.5v-2l-1 1zM14.2 7.2l1.6 1.6c.1.1.1.3 0 .4l-1.3 1.3-2-2 1.3-1.3c.1-.1.3-.1.4 0zm-7.1 6.7L12 9l2 2-4.9 4.9c-.1.1-.1.1-.2.1H7v-1.9c0-.1 0-.1.1-.2z'/%3e%3c/g%3e%3c/svg%3e");
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
}

#table thead tr td a {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M6 14H3V2h7v2.5c0 .3.2.5.5.5H13v1l1-1V3.9c0-.3-.1-.5-.3-.7l-1.9-1.9c-.2-.2-.4-.3-.7-.3H2.5c-.3 0-.5.2-.5.5v13c0 .3.2.5.5.5H6v-1zm5-12 2 2h-2V2zM13 13.5v.5h-.5l-1 1h2c.3 0 .5-.2.5-.5v-2l-1 1zM14.2 7.2l1.6 1.6c.1.1.1.3 0 .4l-1.3 1.3-2-2 1.3-1.3c.1-.1.3-.1.4 0zm-7.1 6.7L12 9l2 2-4.9 4.9c-.1.1-.1.1-.2.1H7v-1.9c0-.1 0-.1.1-.2z'/%3e%3c/g%3e%3c/svg%3e");
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
}

form table.nowrap a[href*="edit="][href*="&where"] {
	display: inline-block;
	left: 4px;
	overflow: hidden;
	position: relative;
	width: 16px;
}

form table.nowrap a[href*="edit="][href*="&where"]:hover {
	text-decoration: none;
}

/*table.nowrap a[href*="edit="][href*="&where"]:before {*/
/*	background-size: 1em 1em;*/
/*	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M6 14H3V2h7v2.5c0 .3.2.5.5.5H13v1l1-1V3.9c0-.3-.1-.5-.3-.7l-1.9-1.9c-.2-.2-.4-.3-.7-.3H2.5c-.3 0-.5.2-.5.5v13c0 .3.2.5.5.5H6v-1zm5-12 2 2h-2V2zM13 13.5v.5h-.5l-1 1h2c.3 0 .5-.2.5-.5v-2l-1 1zM14.2 7.2l1.6 1.6c.1.1.1.3 0 .4l-1.3 1.3-2-2 1.3-1.3c.1-.1.3-.1.4 0zm-7.1 6.7L12 9l2 2-4.9 4.9c-.1.1-.1.1-.2.1H7v-1.9c0-.1 0-.1.1-.2z'/%3e%3c/g%3e%3c/svg%3e");*/
/*	background-position: 0 0;*/
/*	content: " ";*/
/*	display: inline-block;*/
/*	font-size: 16px;*/
/*	height: 18px;*/
/*	margin: -16px 0;*/
/*	overflow: hidden;*/
/*	padding: 8px;*/
/*	position: relative;*/
/*	vertical-align: middle;*/
/*	width: 16px;*/
/*}*/

table.nowrap thead th a, table.nowrap thead td a, table.nowrap thead th a:hover, table.nowrap thead td a:hover, table.nowrap thead th a:link:hover, table.nowrap thead td a:link:hover, table.nowrap thead th a:visited:hover, table.nowrap thead td a:visited:hover {
	color: #000000;
}

p#breadcrumb a {
	color: #000000;
	font-weight: bold;
}

#menu {
	background: none repeat-y scroll right center #F5F5F5;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 270px;
}

#menu form[method*="post"] {
	background: #DADADA url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAGElEQVR42gENAPL/ALi4uEy4uLi0uLi4/zSECHijpwMGAAAAAElFTkSuQmCC") repeat-y right center;
	height: 22px;
}

#menu p {
	border: medium none;
	margin: 0;
	padding: 4px 10px;
}

#menu p select {
	border-style: none;
	font-size: 10px;
	height: 18px;
	width: auto;
}

#menu p#dbs {
	background: none repeat scroll 0 0 #eeeeee;
	border-bottom: 1px solid #c3c3c3;
	color: #2d2d2d;
	height: 22px;
	padding: 1px 10px;
}

#menu h1 {
	background: none repeat scroll 0 0 #eeeeee;
	border: medium none;
	border-bottom: 1px solid #c3c3c3;
	border-style: none none;
	border-width: medium;
	color: #2d2d2d;
	display: block;
	font-size: 10px;
	height: 27px;
	line-height: 27px;
	margin: 0;
	padding: 0 10px;
}

#menu h1 a {
	color: #FFFFFF;
	font-size: 13px;
}

#menu h1 .version {
	color: #323232;
	font-size: 9px;
}

#menu * {
	margin: 0;
	padding: 0;
}

p#tables {
	bottom: 0;
	left: 0;
	line-height: 18px;
	margin: 0;
	overflow-x: auto;
	overflow-y: auto;
	padding: 0 0 0 5px;
	position: absolute;
	top: 88px;
	width: 265px;
}

p#tables a {
	background-color: transparent;
	display: block;
	margin: 1px 0 0;
	padding: 0;
	text-decoration: none;
	top: 0;
}

p#tables span {
	background-color: transparent;
}

p#tables a[href*="select="] {
	display: block;
	left: 10px;
	overflow: hidden;
	position: absolute;
	width: 16px;
}

p#tables a[href*="select="]:before {
	background-position: -16px 0;
	background-size: 16px 16px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M2 3h2v1H2zM5 3h9v1H5zM2 6h2v1H2zM5 6h9v1H5zM2 9h2v1H2zM5 9h9v1H5zM2 12h2v1H2zM5 12h9v1H5z'/%3e%3c/g%3e%3c/svg%3e");
	content: " ";
	display: inline-block;
	font-size: 15px;
	height: 16px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
	width: 16px;
}

p#tables a[href*="table="] {
	left: 36px;
	position: absolute;
	width: 200px;
}

p#tables span.tables-line {
	border: 1px solid transparent;
	display: list-item;
	height: 18px;
	list-style: none;
	position: relative;
}

p#tables span.tables-line-active {
	background-color: #F8F8F8;
	border-bottom: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	border-top: 1px solid #D7D7D7;
	display: list-item;
	position: relative;
}

p#tables span.tables-line:hover {
	background: #F2F2F2 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAGElEQVR42gENAPL/AMjIyEzIyMizyMjI/zhvCQelaHPPAAAAAElFTkSuQmCC") repeat-y right center;
	border-bottom: 1px solid #D7D7D7;
	border-bottom-right-radius: 3px;
	border-left: 1px solid #D7D7D7;
	border-top: 1px solid #D7D7D7;
	border-top-right-radius: 3px;
}
#menu p.links {
	display: inline;
}

#menu p.links a[href*="sql="] {
	display: inline-block;
	height: 32px;
	left: 10px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	width: 32px;
}

#menu p.links a[href*="sql="]:before {
	background: url("../Icons/sql.svg");
	background-position: 6px 6px;
	background-repeat: no-repeat;
	-webkit-background-size: 16px;
	background-size: 16px;
	content: " ";
	display: inline-block;
	font-size: 15px;
	margin: 0;
	padding: 16px;
	position: relative;
	width: 32px;
}

#menu p.links a[href*="sql="]:hover:before {
	background-color: #c4c4c4;
	border-color: #a6a6a6;
}

#menu p.links a[href*="import="] {
	display: inline-block;
	height: 32px;
	left: 41px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 32px;
}

#menu p.links a[href*="import="]:before {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M9 14.779V13.925c-.32.022-.651.037-1 .037-3.006 0-5-.903-5-1.5v-1.568c.734.455 1.809.767 3 .93v-1.007c-1.855-.279-2.998-.903-3-1.355V7.893c1.13.702 3.067 1.068 5 1.068.106 0 .212-.005.318-.008l1.067-1.067c-.435.044-.89.075-1.385.075-3.005 0-4.998-.902-5-1.5V4.894c1.13.702 3.067 1.068 5 1.068 1.933 0 3.87-.366 5-1.068v1.47c.225.107.436.245.614.423l.386.386v-3.71c0-3.283-12-3.283-12 0v9c0 1.641 3.019 2.5 6 2.5.334 0 .669-.013 1-.034v-.15zM8 1.962c3.006 0 5 .902 5 1.5-.002.597-1.995 1.499-5 1.499s-4.998-.902-5-1.5c0-.597 1.994-1.5 5-1.5z'/%3e%3cpath d='m12.2 8.2 3.4 3.4c.1.1.1.3 0 .4 0 0-.1.1-.2.1H13v4h-2v-4H8.6c-.1 0-.3-.1-.3-.2s0-.1.1-.2l3.4-3.4c.1-.2.3-.2.4-.1z'/%3e%3c/g%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: 6px 6px;
	-webkit-background-size: 16px;
	background-size: 16px;
	content: " ";
	display: inline-block;
	font-size: 15px;
	margin: 0;
	padding: 16px;
	position: relative;
	width: 32px;
}

#menu p.links a[href*="import="]:hover:before {
	background-color: #c4c4c4;
	border-color: #a6a6a6;
}

#menu p.links a[href*="dump="] {
	display: inline-block;
	height: 32px;
	left: 72px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 32px;
}

#menu p.links a[href*="dump="]:before {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M7.092 13.92C4.608 13.761 3 12.996 3 12.462v-1.568c.733.455 1.81.76 3 .924v-1.006c-1.852-.279-2.998-.899-3-1.35V7.893c1.13.702 3.067 1.068 5 1.068.337 0 .668-.028 1-.05v-.994c-.32.025-.647.044-1 .044-3.005 0-4.998-.902-5-1.5V4.894c1.13.702 3.067 1.068 5 1.068 1.933 0 3.87-.366 5-1.068V6h1V3.462c0-3.283-12-3.283-12 0v9c0 1.641 3.019 2.5 6 2.5.043 0 .086-.004.13-.004L7.092 13.92zM8 1.962c3.006 0 5 .902 5 1.5-.002.597-1.995 1.499-5 1.499s-4.998-.902-5-1.5c0-.597 1.994-1.5 5-1.5z'/%3e%3cpath d='m11.823 15.823-3.396-3.396A.25.25 0 0 1 8.604 12H11V8h2v4h2.397a.25.25 0 0 1 .177.427l-3.396 3.396a.251.251 0 0 1-.355 0z'/%3e%3c/g%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: 6px 6px;
	-webkit-background-size: 16px;
	background-size: 16px;
	content: " ";
	display: inline-block;
	font-size: 15px;
	margin: 0;
	padding: 16px;
	position: relative;
	width: 32px;
}

#menu p.links a[href*="dump="]:hover:before {
	background-color: #c4c4c4;
	border-color: #a6a6a6;
}

#menu p.links a[href*="create="] {
	display: inline-block;
	height: 32px;
	left: 103px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 32px;
}

#menu p.links a[href*="create="]:before {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M7 14H2V2h12v5l1 1V1.5a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5H8l-1-1z'/%3e%3cpath d='M3 3h10v2H3zM3 6h8l-1 1H3zM3 10h4l-1 1H3zM3 12h3v1H3zM3 8h6L8 9H3zM15.5 13H13v2.5a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5V13H8.5a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5H11V8.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V11h2.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5z'/%3e%3c/g%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: 6px 6px;
	-webkit-background-size: 16px;
	background-size: 16px;
	content: " ";
	display: inline-block;
	font-size: 15px;
	margin: 0;
	padding: 16px;
	position: relative;
	width: 32px;
}

#menu p.links a[href*="create="]:hover:before {
	background-color: #c4c4c4;
	border-color: #a6a6a6;
}

#content a[href*="refresh="] {
	display: inline-block;
	height: 16px;
	overflow: hidden;
	position: relative;
	top: 2px;
	width: 16px;
}

#content a[href*="refresh="]:before {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M15.549 8H14c0-3.31-2.69-6-6-6a6 6 0 0 0-3.06.84l.61.97c.72-.42 1.55-.68 2.45-.68 2.68 0 4.87 2.18 4.87 4.87h-1.419a.25.25 0 0 0-.212.383l2.049 3.278a.25.25 0 0 0 .424 0l2.049-3.278A.25.25 0 0 0 15.549 8zM10.37 12.23c-.7.4-1.5.64-2.37.64-2.68 0-4.87-2.18-4.87-4.87h1.419a.25.25 0 0 0 .212-.383L2.712 4.339a.25.25 0 0 0-.424 0L.239 7.617A.25.25 0 0 0 .451 8H2c0 3.31 2.69 6 6 6 1.09 0 2.1-.29 2.98-.8l-.61-.97z'/%3e%3c/g%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: 0 0;
	content: " ";
	display: inline-block;
	font-size: 15px;
	height: 16px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
	width: 16px;
}

#content a[href*="dbsize="] {
	display: inline-block;
	height: 16px;
	overflow: hidden;
	position: relative;
	top: 2px;
	width: 16px;
}

#content a[href*="dbsize="]:before {
	background: url(../Icons/calculator.svg) no-repeat 0 2px;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	content: " ";
	display: inline-block;
	font-size: 15px;
	height: 16px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
	width: 16px;
}

#content a[href*="host="] {
	background-color: #ededed;
	border: 1px solid #bbbbbb;
	display: inline-block;
	height: 32px;
	overflow: hidden;
	padding: 8px;
	position: relative;
	width: 32px;
}

#content a[href*="host="]:before {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='m9.293 3.293-8 8A.997.997 0 0 0 1 12v3h3c.265 0 .52-.105.707-.293l8-8-3.414-3.414zM8.999 5l.5.5-5 5-.5-.5 5-5zM4 14H3v-1H2v-1l1-1 2 2-1 1zM13.707 5.707l1.354-1.354a.5.5 0 0 0 0-.707L12.354.939a.5.5 0 0 0-.707 0l-1.354 1.354 3.414 3.414z'/%3e%3c/g%3e%3c/svg%3e");
	content: " ";
	display: inline-block;
	font-size: 16px;
	height: 16px;
	line-height: 18px;
	margin: 0;
	overflow: hidden;
	padding: 8px;
	position: relative;
	width: 16px;
}

#content a[href*="host="]:hover {
	background-color: #c4c4c4;
	border-color: #a6a6a6;
}

#lang {
	color: #000000;
	left: auto;
	margin: 0;
	padding: 0;
	right: 18px;
	top: 1px;
	z-index: 10;
}

#lang select {
	font-size: 10px;
	height: 18px;
	margin-top: 3px;
	padding: 0;
	vertical-align: text-bottom;
}

.icon {
	border: medium none;
}

.size {
	width: 6em;
}

#content {
	border-left: 1px solid #c3c3c3;
	bottom: 0;
	left: 270px;
	margin: 0;
	overflow: auto;
	padding: 0 10px 10px 10px;
	position: absolute;
	right: 0;
	top: 49px;
}

#content table tbody tr:nth-child(2n+1) td {
	background-color: #f7f7f7;
}

#content table.checkable tr.checked:nth-child(2n+1) td, #content table.checkable tr.checked:nth-child(2n+1) th {
	background-color: #f7f7f7;
}

#content table tbody tr:hover td, #content table tbody tr:hover th {
	background-color: #ededed;
}

#content h2 {
	background: none repeat scroll 0 0 #eeeeee;
	border: medium none;
	border-bottom: 1px solid #c3c3c3;
	color: #2d2d2d;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	left: 270px;
	line-height: 22px;
	margin: 0;
	padding: 0 0 6px 10px;
	position: fixed;
	right: 0;
	top: 27px;
}

h1, h2, h3, h4 {
	color: #555555;
	font-weight: bold;
}

h3 {
	border-bottom: 1px solid #CDCDCD;
	padding-bottom: 6px;
}

#breadcrumb {
	background: none repeat scroll 0 0 #eeeeee;
	color: #2d2d2d;
	height: 27px;
	left: 270px;
	line-height: 27px;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
}

input, textarea, select, button {
	background-color: #FEFEFE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	padding: 6px;
}

input, textarea, button {
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	padding: 6px;
}

select {
}

input.default {
	box-shadow: none;
}

input:focus, textarea:focus, button:focus {
	border-color: #aaaaaa;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(170, 170, 170, 0.6);
	outline: 0 none;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	background-color: #eeeeee;
	border: 1px solid #bbbbbb;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #333333;
	cursor: pointer;
	margin-left: 5px;
	padding: 6px;
	text-decoration: none !important;
	white-space: nowrap;
}

input[type="image"] {
	padding: 0;
}

input[type="file"] {
	border: medium none;
}

input[type="checkbox"], input[type="radio"] {
	background-color: transparent;
	border: medium none;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
	background-color: #CCCCCC;
	color: #000000;
	cursor: pointer;
	text-decoration: none !important;
}

#menu input[type="submit"], #menu input[type="button"], #menu input[type="reset"] {
	margin-left: 5px;
	padding: 0 4px 2px;
}

#menu .message, #menu .error, #content .message, #content .error {
	border-style: solid;
	border-width: 0 0 0 6px;
	margin-bottom: 4px;
	padding: 12px;
}

#menu .message, #content .message {
	background-color: #d8f0f8;
	border-color: #41b4dc;
	color: #323232;
}

#menu .error, #content .error {
	background-color: #efc7c7;
	border-color: #D66C68;
	color: #323232;
}

#menu .error, #menu .message {
	margin-left: 9px;
	margin-right: 9px;
}

#loader {
	left: 59em;
	top: 2em;
}

#content h2 + div#ajaxstatus + p.links + p.links, #content h2 + div#ajaxstatus + div.message + p.links + p.links, p.tabs {
	background-color: #ededed;
	border-bottom: 1px solid #cccccc;
	display: table;
	margin-top: 12px;
	padding-left: 0;
	width: 100%;

}

#content h2 + div#ajaxstatus + p.links + p.links a, #content h2 + div#ajaxstatus + div.message + p.links + p.links a, p.tabs a {
	border: 1px solid transparent;
	-moz-border-bottom-colors: none;
	border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	color: #000000;
	display: block;
	float: left;
	line-height: 1.5;
	margin-bottom: -1px;
	margin-right: 3px;
	padding: 6px 12px;
	position: relative;

}

#content h2 + div#ajaxstatus + p.links + p.links a:hover, #content h2 + div#ajaxstatus + div.message + p.links + p.links a:hover, p.tabs a:hover {
	background: none repeat scroll 0 0 #e1e1e1;
	border-color: #d7d7d7 #d7d7d7 transparent;
	border-width: 1px;
	text-decoration: none;
}

#content h2 + div#ajaxstatus + p.links + p.links a.active, #content h2 + div#ajaxstatus + div.message + p.links + p.links a.active, p.tabs a.active {
	background: none repeat scroll 0 0 #fafafa;
	border-color: #cccccc #cccccc transparent;
	border-width: 1px;
	padding-bottom: 7px;
}

#content h2 + div#ajaxstatus + p.links + p.links a.active:hover, #content h2 + div#ajaxstatus + div.message + p.links + p.links a.active:hover, p.tabs a.active:hover {
	background: none repeat scroll 0 0 #e1e1e1;
	border-width: 1px;
}

a#t3adminerversion {
	color: white;
	font-weight: bold;
	position: absolute;
	right: 12px;
	top: 3px;
}

a#version {
	display: none;
}

p.logout input {
	display: none;
}

*:before, *:after {
	box-sizing: border-box;
}

.js .column {
	background: transparent;
	display: inline-block;
	height: 8px;
	position: relative;
	width: 12px;
}

.js .column a:hover {
	text-decoration: none;
}

.js .column a[href*="desc%5B0%5D=1"] {
	display: block;
	left: -3px;
	overflow: hidden;
	position: absolute;
	width: 16px;
}

.js .column a[href*="desc%5B0%5D=1"]:before {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M7.593 11.43 3.565 5.79A.5.5 0 0 1 3.972 5h8.057a.5.5 0 0 1 .407.791l-4.028 5.64a.5.5 0 0 1-.815-.001z'/%3e%3c/g%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 1px 4px;
	background-size: 10px auto;
	content: " ";
	display: inline-block;
	height: 16px;
	left: 4px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
	width: 16px;
}

.js .column a[href*="fieldset-search"] {
	display: block;
	left: 10px;
	overflow: hidden;
	position: absolute;
	width: 16px;
}

.js .column a[href*="fieldset-search"]:before {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M13.92 15c-.29 0-.56-.12-.76-.32l-2.89-2.88c-.98.68-2.16 1.04-3.36 1.04C3.65 12.85 1 10.2 1 6.92 1 3.65 3.65 1 6.92 1s5.92 2.65 5.92 5.92c0 1.19-.36 2.37-1.04 3.36l2.89 2.89c.19.19.31.47.31.76 0 .58-.49 1.07-1.08 1.07zm-7-12.58c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z'/%3e%3c/g%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 1px 4px;
	background-size: 10px auto;
	content: " ";
	display: inline-block;
	height: 16px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
	width: 16px;
}

.js .hidden {
	visibility: hidden;
}

p.pages {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	height: 12px;
	left: auto;
	margin: 0;
	padding: 5px;
	position: fixed;
	right: 16px;
	top: 22px;
}

p.pages a {
	background-color: #E0E0E0;
	border: 1px solid #7C7C7C;
	border-radius: 2px;
	color: #434343;
	padding: 1px 11px;
}

p.pages a:hover {
	background-color: #C0C0C0;
	color: #000000;
	text-decoration: none;
}

.time {
	color: #666666;
}

input[type="image"][name^="add"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M12.5 9H9v3.5c0 .3-.2.5-.5.5h-1c-.3 0-.5-.2-.5-.5V9H3.5c-.3 0-.5-.2-.5-.5v-1c0-.3.2-.5.5-.5H7V3.5c0-.3.2-.5.5-.5h1c.3 0 .5.2.5.5V7h3.5c.3 0 .5.2.5.5v1c0 .3-.2.5-.5.5z'/%3e%3c/g%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 8px 8px;
	background-color: #ebebeb;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	height: 18px;
	padding: 15px 6px 15px 27px;
	width: 32px;
}

table.nowrap input[type="image"][name^="add"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M12.5 9H9v3.5c0 .3-.2.5-.5.5h-1c-.3 0-.5-.2-.5-.5V9H3.5c-.3 0-.5-.2-.5-.5v-1c0-.3.2-.5.5-.5H7V3.5c0-.3.2-.5.5-.5h1c.3 0 .5.2.5.5V7h3.5c.3 0 .5.2.5.5v1c0 .3-.2.5-.5.5z'/%3e%3c/g%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 8px 8px;
	background-color: #ebebeb;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	height: 18px;
	padding: 15px 6px 15px 27px;
	width: 32px;
}

table.nowrap input[type="image"][name^="add"]:hover {
	background-color: #c4c4c4;
	border-color: #a3a3a3;
}

table.nowrap thead input[type="image"][name^="add"] {
	background-color: transparent;
	background-position: 6px 2px;
	border: medium none;
	height: 16px;
	padding: 0 0 0 25px;
	width: 16px;
}

table.nowrap thead input[type="image"][name^="add"]:hover {
	background-color: transparent;
}

table.nowrap input[type="image"][name^="down"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M7.593 11.43 3.565 5.79A.5.5 0 0 1 3.972 5h8.057a.5.5 0 0 1 .407.791l-4.028 5.64a.5.5 0 0 1-.815-.001z'/%3e%3c/g%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 8px 8px;
	background-color: #ebebeb;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	height: 18px;
	padding: 15px 6px 15px 27px;
	width: 32px;
}

table.nowrap input[type="image"][name^="down"]:hover {
	background-color: #c4c4c4;
	border-color: #a3a3a3;
}

table.nowrap input[type="image"][name^="drop_col"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M7 5H6v8h1zM10 5H9v8h1z'/%3e%3cpath d='M13 3h-2v-.75C11 1.56 10.44 1 9.75 1h-3.5C5.56 1 5 1.56 5 2.25V3H3v10.75c0 .69.56 1.25 1.25 1.25h7.5c.69 0 1.25-.56 1.25-1.25V3zm-7-.75A.25.25 0 0 1 6.25 2h3.5a.25.25 0 0 1 .25.25V3H6v-.75zm6 11.5a.25.25 0 0 1-.25.25h-7.5a.25.25 0 0 1-.25-.25V4h8v9.75z'/%3e%3cpath d='M13.5 4h-11a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1z'/%3e%3c/g%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 8px 8px;
	background-color: #ebebeb;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	height: 18px;
	padding: 15px 6px 15px 27px;
	width: 32px;
}

table.nowrap input[type="image"][name^="drop_col"]:hover {
	background-color: #c4c4c4;
	border-color: #a3a3a3;
}

table.nowrap input[type="image"][name^="up"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='m8.407 4.57 4.028 5.64a.5.5 0 0 1-.407.791H3.972a.5.5 0 0 1-.407-.791l4.028-5.64a.5.5 0 0 1 .814 0z'/%3e%3c/g%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 8px 8px;
	background-color: #ebebeb;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	height: 18px;
	padding: 15px 6px 15px 27px;
	width: 32px;
}

table.nowrap input[type="image"][name^="up"]:hover {
	background-color: #c4c4c4;
	border-color: #a3a3a3;
}

p#tables a[href*="select="]::before {
	font-size: 14px;
}

a[href*="dump="] {
	background-color: #79a548;
	border-radius: .25em;
	color: #fff;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	padding: .2em .6em .3em;
	text-align: center;
	text-transform: uppercase;
	vertical-align: baseline;
	white-space: nowrap;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fefefe;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='m4.464 6.05-.707.707L8 11l4.243-4.243-.707-.707L8 9.586z'/%3e%3c/g%3e%3c/svg%3e");
	background-position: right 4px center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	border: 1px solid #bbb;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	color: #333;
	font-size: 12px;
	line-height: 1.5;
	margin: 4px;
	padding: 6px 24px 6px 6px;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

select:focus {
	border-color: #aaa;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(170, 170, 170, .6);
	outline: 0;
}

span.separator {
	display: none;
}
